<!-- Navbar text-->
<!-- <span class="navbar-text">
  <h3>Sangam Educational Services</h3>
</span>

<span style="text-align: right !important">Logout</span> -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="row">
    <div class="col-md-12">
      <h3 class="navbar-text">Sangam Educational Services</h3>
      <a href="/users/logout"><button class="btn btn-success">Logout</button></a>
    </div>
  </div>
</nav>